.app {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.chat {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 2px solid #dedede;
    background-color: #a29696;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.chat::after {
    content: "";
    clear: both;
    display: table;
}

.messages {
    height: 400px;
    overflow-y: auto;
    width: 100%;
}

.message img {
    max-width: 40px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.message {
    color: black;
}
.footer{
    margin-top: 30px;
}
.textArea{
    width: 450px;
    outline: none;
    border: #dedede;
    background-color: blanchedalmond;
    font-size: 20px;
    height: 50px;
    margin: 0 auto;
}
